version: '3.8'

services:
  backend:
    build: ./backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost

  simulation:
    build: ./simulation
    volumes:
      - ./simulation:/app
    command: uvicorn simulator:app --host 0.0.0.0 --port 8001 --reload
    ports:
      - "8001:8001"
